{% extends 'base.html.twig' %}


{% block body %}
<h1>Tоп-Товары</h1>
    <div class="card-deck product">
        {% for product in topProducts %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top"
                     src="{%- if product.imageName -%}
                           {{ vich_uploader_asset(product, 'imageFile')| imagine_filter('squared_product_thumbnail') }}
                       {%- else -%}
                           //placehold.it/300x200
                       {%- endif -%}"
                     alt="{{ product.title }}">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="{{ path('product_show',{id:product.id}) }}" {{ product.title }}></a>
                    <p class="card-text">{{ product.title }}</p>
                    <p class="card-text">{{ product.price }}</p>
                </div>

            </div>

        {% endfor %}
    </div>
{% endblock %}
